

.App {
  display: flex;
  flex-wrap: wrap;
  height: 100vh
}

.bgrd-light {
  background-color: #2ECC40;
}

.bgrd-dark {
  background-color: #001f3f;
}

nav {
  position: fixed;
  top: 2vh;
  left: 25vw;
  margin: 0 auto;
  width: 50vw;
}

nav a {
	line-height: 2.5em;
  height: 100%;
  width: 25vw;
	font-size: 1.2em;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
  cursor: pointer;
  
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 0.5em;
}
nav a:nth-child {
	width: 25vw;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 25vw;
	left: 0;
	background-color: #1abc9c;
}
nav .start-settings, a:nth-child(2):hover~.animation {
	width: 25vw;
	left: 25vw;
	background-color: #e74c3c;
}


.chatbox {
  padding-top: 3em;
  margin: auto;
  height: 90vh;
  width: 50vw;
  overflow-y: scroll;
  text-align: left;
  border: 1px solid;
  border-radius: 0.5em;
}

.inputContainer {
  display: block;
  position: absolute;
  bottom: 2vh;
  width: inherit
}

.inputContainer input {
  width: 44vw;
}

.chatbox input {
  background: none;
  border: 1px solid #fff;
  border-radius: 0.25em;
  padding: 0.5em;
  height: 2.5vw;
  font-size: 1.2em;
}

.chtDark input {
  border-color: #fff;
  color: inherit
} 

.chtLight input {
  border-color: #001f3f;
  color: inherit
}

.chtDark {
  color: bisque;
}

.chtLight {
  color: #001f3f;
}

.chatbox button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  height: 2.5vw;
  width: 2.5vw;
  display: block;
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  background-size: cover;
}


.chtDark button {
  background-image: url(/plane-white.svg);
} 

.chtLight button {
  background-image: url(/plane-black.svg);
}

.message {
  background-color: thistle;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 0.4em;
}

.chtDark .message {
  background-color: thistle;
  color: darkblue;
} 

.chtLight .message {
  background-color: darkblue;
  color: yellowgreen;
}

.messageContainer {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.messageContainer p, .messageContainer span {
  font-size: 0.5em;
  margin: 2px;
}

.settingsInput {
  width: 40vw;
  margin: 1em 4vw;
}

.chatbox label {
  margin: 0.5em 4vw;
}

.checkBox {
  margin: 0.1em 4vw 0.1em 0.5em;
}




